/* src/components/Navbar/Navbar.css */

.navbar-header {
    background-color: #36604c;
    /* Initial background color */
    padding: 0.5rem 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Add transition */
}

.navbar-header.scrolled {
    background-color: rgba(86, 86, 86, 0.593);
    /* Semi-transparent version of your color */
    /* For fully transparent: background-color: transparent; */
    box-shadow: none;
    /* Remove shadow when transparent for cleaner look */
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo {
    height: 60px;
    /* Adjust SVG logo height */
    width: auto;
    transition: filter 0.3s ease-in-out;
    /* Smooth transition for color change */
}

.navbar-logo .pgDes-1 {
    fill: #fff;
    transition: fill 0.3s ease-in-out;
}

.navbar-header.scrolled .navbar-logo .pgDes-1,
.navbar-item.scrolled a {
    color: white;
    fill: white;
    /* Changes logo to primary color when scrolled */
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.2rem;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Existing transition */
    border-radius: 5px;
}

.navbar-item a:hover {
    background-color: white;
    color: var(--primary-color);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
    .navbar-header {
        padding: 1rem 1.5rem;
    }

    .navbar-item a {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }

    .navbar-logo {
        height: 50px;
        /* Adjust responsive height for SVG */
    }
}

@media (max-width: 768px) {
    .navbar-header {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    .navbar-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        height: 40px;
        /* Adjust responsive height for SVG */
    }

    .navbar-item a {
        font-size: 0.9rem;
        padding: 0.3rem 0.6rem;
    }
}