/* src/components/WorkProcessSection.css */

.work-process-section {
  padding: 20px 20px;
  background-color: #f8f8f8;
  /* Light background */
  font-family: var(--primary-font);
  color: #333;
  text-align: center;
}

.wp-main-headline {
  font-size: 48px;
  color: #40674D;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin: auto;
  max-width: 1200px;
}

.wp-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  gap: 20px;
  /* Space between tabs */
  font-weight: 600;
}

.wp-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  color: #929E87;
}

.wp-tab:hover {
  color: #40674D;
}

.wp-tab:hover .wp-tab-icon {
  stroke: #40674D;
}

.wp-tab-active {
  color: #40674D !important;
  font-weight: 700;
  padding: 1px 15px;
  background-color: rgba(162, 162, 162, 0.1);
}

.wp-tab-active .wp-tab-icon {
  stroke: #40674D !important;
}

.wp-tab-icon {
  width: 60px;
  height: 60px;
  stroke: #949E89;
  flex-grow: 1;
  margin-right: 10px;
  transition: stroke 0.3s ease;
  /* SVG path stroke/fill will inherit color from .wp-tab */
}

.wp-flow-diagram-container {
  width: 100%;
  max-width: 1000px;
  /* Adjust max width of the diagram area to match your SVG's effective width */
  margin: 0 auto;
  /* Center the container */
  padding-bottom: 20px;
  /* Add some space below the SVG if needed */
}

/* Divider between tabs */
.headerDivider {
  width: 2px;
  height: 40px;
  background-color: #929E87;
  opacity: 0.5;
}

.wp-flow-diagram {
  width: 100%;
  /* Make the SVG fill its container */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Remove any extra space below the SVG */
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Responsive Adjustments --- */
@media (max-width: 768px) {
  .wp-main-headline {
    font-size: 40px;
  }

  .wp-tabs {
    flex-direction: column;
    gap: 15px;
  }

  .wp-flow-diagram-container {
    max-width: 95%;
    /* Adjust max-width for smaller screens */
  }
}